.popup__save-button {
    height: 50px;
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background-color: #000;
    border: none;
    border-radius: 2px;
    margin: 40px 36px 37px;
}

.popup__save-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 1s ease;
  }

@media screen and (max-width: 490px) {
    .popup__save-button {
        height: 46px;
        width: 238px;
        margin: 40px 22px 25px;
        font-size: 14px;
        line-height: 17px;
    }
  }