.profile__info{
    display: grid;
    max-width: 336px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "name button"
        "description .";
}

@media screen and (max-width: 490px) {
    .profile__info {
        gap: 14px 10px;
        margin-bottom: 36px;
    }
  }